# Dependency directory
node_modules

# Sublime workspace configuration
sftp-configuration.json

# Build files
build

# Databases
db.development.sqlite
db.test.sqlite
db.production.sqlite

# Secret
github
github.pub

# Log
*.log

# Others
.DS_Store